@page "/club-system"
@page "/club-system/dashboard"

@using System.Net.Http.Headers
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IAccessTokenProvider TokenProvider
@inject HttpClient Http

<h1>Club System</h1>

<h2>Dashboard</h2>

<p>Club System Overview & Dashboards</p>

@if (authData == null)
{
    <p><em>Authentication Data is Null :(</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@authData.message</td>
            </tr>
        </tbody>
    </table>
}

@code {

    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }
    
    public record AuthData(string message);

    private AuthData authData;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using (var requestMessage = new HttpRequestMessage(HttpMethod.Get, "https://vltc.vortexloop.com/api/schedules"))
            {
                var tokenResult = await TokenProvider.RequestAccessToken();
                if (tokenResult.TryGetToken(out var token))
                {
                    requestMessage.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
                    var response = await Http.SendAsync(requestMessage);
                    authData = await response.Content.ReadFromJsonAsync<AuthData>();

                    Console.WriteLine("StatusCode = " + response.StatusCode);
                    Console.WriteLine("Headers = " + response.Headers);
                    Console.WriteLine("Content = " + response.Content);
                }
                else
                {
                    Console.WriteLine("ELSE: TryGetToken Failed");
                    var authState = await AuthenticationState;
                    if(authState.User.Identity.IsAuthenticated)
                    {
                        Console.WriteLine("LOG: User is Authenticated");
                    }
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Exception: " + ex.Message + " - - - " + ex.InnerException.Message);
        }
    }

}
