<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">VortexLoop.Web</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true" /> 
                HOME
            </NavLink>
        </li>        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="testpage">
                <span class="oi oi-list-rich" aria-hidden="true" /> 
                <span>Test Page</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="club-system/dashboard">
                <span class="oi oi-list-rich" aria-hidden="true" />
                <span>VLTC Manager</span>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
