@page "/"

<span class="pageheader">Selected Controls</span>
<br />
<p class="pagecontent">The following Syncfusion Blazor components can be set up in an application for you with the Syncfusion Blazor Template Studio. A fast, easy start with Syncfusion Blazor components lets you concentrate on the important part: learning.</p>
<div class="controlregion">

 <h5 class="productheader"> Calendar</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="scheduler-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-scheduler" aria-hidden="true"></span>Scheduler
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="calendar-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-calendar" aria-hidden="true"></span>Calendar
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="datepicker-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-datepicker" aria-hidden="true"></span>DatePicker
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="daterangepicker-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-daterangepicker" aria-hidden="true"></span>DateRangePicker
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="datetimepicker-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-datetimepicker" aria-hidden="true"></span>DateTime Picker
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="timepicker-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-timepicker" aria-hidden="true"></span>TimePicker
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> DropDowns</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="autocomplete-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-autocomplete" aria-hidden="true"></span>AutoComplete
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="combobox-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-combobox" aria-hidden="true"></span>ComboBox
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="dropdownlist-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-dropdownlist" aria-hidden="true"></span>Dropdown List
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="multiselectdropdown-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-multiselectdropdown" aria-hidden="true"></span>MultiSelect Dropdown
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Layout</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="dashboardlayout-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-dashboardlayout" aria-hidden="true"></span>Dashboard Layout
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="card-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-card" aria-hidden="true"></span>Card
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Inputs</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="textbox-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-textbox" aria-hidden="true"></span>TextBox
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="inputmask-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-inputmask" aria-hidden="true"></span>Input Mask
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="numerictextbox-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-numerictextbox" aria-hidden="true"></span>Numeric TextBox
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="radiobutton-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-radiobutton" aria-hidden="true"></span>Radio Button
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="checkbox-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-checkbox" aria-hidden="true"></span>Checkbox
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="toggleswitchbutton-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-toggleswitchbutton" aria-hidden="true"></span>Toggle Switch Button
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Navigation</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="accordion-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-accordion" aria-hidden="true"></span>Accordion
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="contextmenu-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-contextmenu" aria-hidden="true"></span>Context Menu
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="menubar-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-menubar" aria-hidden="true"></span>Menu Bar
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="sidebar-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-sidebar" aria-hidden="true"></span>Sidebar
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="tabs-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-tabs" aria-hidden="true"></span>Tabs
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="toolbar-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-toolbar" aria-hidden="true"></span>Toolbar
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="treeview-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-treeview" aria-hidden="true"></span>TreeView
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Buttons</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="button-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-button" aria-hidden="true"></span>Button
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="buttongroup-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-buttongroup" aria-hidden="true"></span>Button Group
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="dropdownmenu-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-dropdownmenu" aria-hidden="true"></span>Dropdown Menu
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Notification</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="toast-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-toast" aria-hidden="true"></span>Toast
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="spinner-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-spinner" aria-hidden="true"></span>Spinner
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> File Format Frameworks</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="pdf-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-pdf" aria-hidden="true"></span>PDF
 	</NavLink>
 	</li>

</ul>

</div>
<style>
    .ulstyle {
        margin-top: 10px;
        margin-bottom: 20px;
        display: inline-block;
        list-style-type: none !important;
        padding-left: 0px !important;
    }

    .controlregion {
        margin-top: 50px;
    }

    .pagecontent {
        font-family: sans-serif !important;
font-size: 16px;
color: #333333;
letter-spacing: 0.34px;
line-height: 24px;
margin-top: 10px;
    }
    

    .list {
        float: left;
        line-height: 40px;
        min-width: 280px;
        font-family: sans-serif !important;
        font-size: 19px;
        color: #0073DC;
    }

    .syncfusion-blazor-index-icons {
        font-family: "sbicons";
        color: #0073DC !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        padding-right: 13px;
        font-size: 18px;
    }

    .productheader {
        font-family: sans-serif !important;
        font-size: 19px !important;
        color: #333333 !important;
        letter-spacing: 0.41px ;
    }

    .pageheader {
        font-family: sans-serif !important;
        font-size: 24px !important;
        color: #333333 ;
        font-weight: bold !important;
    }
</style>