@page "/admin/settings"

@using System.Net.Http.Headers
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IAccessTokenProvider TokenProvider
@inject HttpClient Http

<h1>Settings</h1>
<p >Settings - Introducion Text.</p>

<div>
    
</div>

@code {
  

}