@page "/light-control/court04"

<h1 class="pageheader">Court 04</h1>
<p class="pagecontent">Court 04 - Introducion Text.</p>

<div class="controlregion">
    <h5 class="productheader">Court 04</h5>
    <span>Court 04 Data</span>
</div>