@page "/light-control/court01"

<h1 class="pageheader">Court 01</h1>
<p class="pagecontent">Court 01 - Introducion Text.</p>

<div class="controlregion">
    <h5 class="productheader">Court 01</h5>
    <span>Court 01 Data</span>
</div>