@page "/light-control/court03"

<h1 class="pageheader">Court 03</h1>
<p class="pagecontent">Court 03 - Introducion Text.</p>

<div class="controlregion">
    <h5 class="productheader">Court 03</h5>
    <span>Court 03 Data</span>
</div>