@page "/light-control/court02"

<h1 class="pageheader">Court 02</h1>
<p class="pagecontent">Court 02 - Introducion Text.</p>

<div class="controlregion">
    <h5 class="productheader">Court 02</h5>
    <span>Court 02 Data</span>
</div>