@page "/dashboard"

<h1 class="pageheader">Dashboard</h1>
<p class="pagecontent">Dashboard Introducion Text.</p>

<div class="controlregion">
    <h5 class="productheader">Court 01</h5>
    <span>Court 01 Data</span>

    <h5 class="productheader">Court 02</h5>
    <span>Court 02 Data</span>

    <h5 class="productheader">Court 03</h5>
    <span>Court 03 Data</span>

    <h5 class="productheader">Court 04</h5>
    <span>Court 04 Data</span>     
</div>