@page "/test-page"

@using System.Net.Http.Headers
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IAccessTokenProvider TokenProvider
@inject HttpClient Http

<h1>Test Page</h1>

<p>This is a test page for VortexLoop.</p>

@if (authData == null)
{
    <p><em>Authentication Data is Null :(</em></p>
}
else
{
    Console.WriteLine(authData);

    <table class="table">
        <thead>
            <tr>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@authData.message</td>
            </tr>
        </tbody>
    </table>
}

@code {

    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }

    public record AuthData(string message);
    public record RelayData(int id, int status);

    private AuthData authData;

    protected override async Task OnInitializedAsync()
    {
        try
        {
@*            using (var requestMessage = new HttpRequestMessage(HttpMethod.Get, "https://vltc.vortexloop.com/api/schedules"))
            {
                var tokenResult = await TokenProvider.RequestAccessToken();
                if (tokenResult.TryGetToken(out var token))
                {
                    requestMessage.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
                    var response = await Http.SendAsync(requestMessage);
                    authData = await response.Content.ReadFromJsonAsync<AuthData>();

                    Console.WriteLine("StatusCode = " + response.StatusCode);
                    Console.WriteLine("Headers = " + response.Headers);
                    Console.WriteLine("Content = " + response.Content);
                }
                else
                {
                    Console.WriteLine("ELSE: TryGetToken Failed");

                    var authState = await AuthenticationState;
                    if (authState.User.Identity.IsAuthenticated)
                    {
                        Console.WriteLine("LOG: User is Authenticated");
                    }
                    else
                    {
                        Console.WriteLine("LOG: User Not Authenticated > Logging User Out");
                        await SignOutManager.SetSignOutState();
                        Navigation.NavigateTo("authentication/logout");
                    }
                }
            }*@



            using (var requestMessage = new HttpRequestMessage(HttpMethod.Put, "https://vltc.vortexloop.com/api/relays/1"))
            {
                var tokenResult = await TokenProvider.RequestAccessToken();
                if (tokenResult.TryGetToken(out var token))
                {
                    requestMessage.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
                    var postBody = new RelayData(1, 1);
                    requestMessage.Content = new StringContent(System.Text.Json.JsonSerializer.Serialize(postBody), System.Text.Encoding.UTF8, "application/json");
                    var response = await Http.SendAsync(requestMessage);
                    authData = await response.Content.ReadFromJsonAsync<AuthData>();




                    Console.WriteLine("StatusCode = " + response.StatusCode);
                    Console.WriteLine("Headers = " + response.Headers);
                    Console.WriteLine("Content = " + response.Content);
                }
                else
                {
                    Console.WriteLine("ELSE: TryGetToken Failed");

                    var authState = await AuthenticationState;
                    if (authState.User.Identity.IsAuthenticated)
                    {
                        Console.WriteLine("LOG: User is Authenticated");
                    }
                    else
                    {
                        Console.WriteLine("LOG: User Not Authenticated > Logging User Out");
                        await SignOutManager.SetSignOutState();
                        Navigation.NavigateTo("authentication/logout");
                    }
                }
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine("Exception: " + ex.Message + " - - - " + ex.InnerException.Message);
        }
    }

}


